$fonts: (
  "Regular": 400,
  "Semibold": 600,
  "Bold": 700,
  "Heavy": 800,
);

@each $name, $weight in $fonts {
  @font-face {
    font-family: Lato;
    src: url("../fonts/Lato#{$name}.woff2") format("woff2"),
         url("../fonts/Lato#{$name}.woff") format("woff");
    font-weight: $weight;
    font-style: normal;
    font-display: swap;
  }
};
