@import "reset";
@import "fonts";
@import "global";

.header {
  position: sticky;
  top: 0;
  z-index: 1020;
  background-color: rgba(16, 16, 29, .9);
  padding: 20px 0;
  @media (min-width: 768px) {
    padding: 30px 0;
  }
  @media (min-width: 990px) {
    padding: 40px 0;
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo {
    height: fit-content;
    img {
      width: 180px;
      height: 15px;
      @media (min-width: 768px) {
        width: 200px;
        height: 17px;
      }
      @media (min-width: 990px) {
        width: 245px;
        height: 21px;
      }
    }
  }
}

.menu {
  display: flex;
  gap: 60px;
  &__btn {
    width: 30px;
    height: 21px;
    border: none;
    cursor: pointer;
    background: transparent;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    position: relative;
    &::before{
        content: '';
        position: absolute;
        width: 30px;
        height: 2px;
        background: #fff;
        top: 8px;
        left: 0;
    }
    &.menu__btn--active {
      border-top: 2px solid #3E9CDC;
      border-bottom: 2px solid #3E9CDC;
      &::before {
        background: #3E9CDC;
      }
    }
    @media (min-width: 576px) {
      display: none;
    }
  }

  &__list {
    background-color: #10101D;
    padding: 15px 20px !important;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transform: translateY(-170px);
    display: flex;
    flex-direction: column;
    gap: 10px;
    transition: transform .5s;
    &.menu__list--active {
      transform: translateY(61px);
      transition: transform .5s;
    }
    @media (min-width: 576px) {
      position: static;
      transform: none;
      flex-direction: row;
      padding: 0!important;
      gap: 20px;
    }
    @media (min-width: 768px) {
      gap: 30px;
    }
    @media (min-width: 990px) {
      gap: 60px;
    }
  }
  &__list-link {
    display: inline-block;
    width: 100%;
    padding: 4px 0;
    font-size: 13px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    transition: all .3s;
    &:hover {
      color: #43ABF0;
    }
  }
}
