@import "reset";
@import "fonts";
@import "global";

.header {
  position: sticky;
  top: 0;
  z-index: 1020;
  background-color: rgba(16, 16, 29, .9);
  padding: 20px 0;
  @media (min-width: 768px) {
    padding: 30px 0;
  }
  @media (min-width: 990px) {
    padding: 40px 0;
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo {
    height: fit-content;
    img {
      width: 180px;
      height: 15px;
      @media (min-width: 768px) {
        width: 200px;
        height: 17px;
      }
      @media (min-width: 990px) {
        width: 245px;
        height: 21px;
      }
    }
  }
}

.menu {
  display: flex;
  gap: 60px;
  &__btn {
    width: 30px;
    height: 21px;
    border: none;
    cursor: pointer;
    background: transparent;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    position: relative;
    &::before{
        content: '';
        position: absolute;
        width: 30px;
        height: 2px;
        background: #fff;
        top: 8px;
        left: 0;
    }
    &.menu__btn--active {
      border-top: 2px solid #3E9CDC;
      border-bottom: 2px solid #3E9CDC;
      &::before {
        background: #3E9CDC;
      }
    }
    @media (min-width: 576px) {
      display: none;
    }
  }

  &__list {
    background-color: #272733;
    padding: 15px 20px !important;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transform: translateY(-170px);
    display: flex;
    flex-direction: column;
    gap: 10px;
    transition: transform .5s;
    &.menu__list--active {
      transform: translateY(61px);
      transition: transform .5s;
    }
    @media (min-width: 576px) {
      position: static;
      background-color: transparent;
      transform: none;
      flex-direction: row;
      padding: 0!important;
      gap: 20px;
    }
    @media (min-width: 768px) {
      gap: 30px;
    }
    @media (min-width: 990px) {
      gap: 60px;
    }
  }
  &__list-link {
    display: inline-block;
    width: 100%;
    padding: 4px 0;
    font-size: 13px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    transition: all .3s;
    &:hover {
      color: #43ABF0;
    }
    @media (min-width: 576px) {
      padding: 0;
    }
  }
}

.hero {
  background-color: #ebeff1;
  background-image: image-set(
    url('../images/hero_bg@1x.webp') type('image/webp') 1x,
    url('../images/hero_bg@2x.webp') type('image/webp') 2x,
    url('../images/hero_bg@1x.png') type('image/png') 1x,
    url('../images/hero_bg@2x.png') type('image/png') 2x,
  );
  background-size: auto;
  background-position: bottom 50% right 80%;
  background-repeat: no-repeat;
  padding: 110px 0 60px;
  color: #000000;
  margin-top: -61px;
  @media (min-width: 576px) {
    padding: 140px 0 100px;
  }
  @media (min-width: 768px) {
    background-position: bottom 50% right 100%;
    margin-top: -80px;
    padding: 203px 0 202px;
  }
  @media (min-width: 900px) {
    background-size: cover;
    background-position: center;
  }
  @media (min-width: 990px) {

    margin-top: -101px;
  }
  &__title {
    font-size: 28px;
    line-height: 35px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 30px;
    &-accent {
      color: #3E9CDC;
    }
    @media (min-width: 576px) {
      font-size: 38px;
      line-height: 48px;
      max-width: 780px;
      margin-bottom: 60px;
    }
    @media (min-width: 990px) {
      font-size: 48px;
      line-height: 58px;
      margin-bottom: 80px;
    }
  }
  &__list {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 30px;
    @media (min-width: 576px) {
      font-size: 20px;
      line-height: 24px;
      margin-bottom: 60px;
    }
    @media (min-width: 768px) {
      margin-bottom: 80px;
    }
    &-list {
      margin-left: 15px;
    }
    &-title {
      font-weight: 700;
      margin-bottom: 10px;
    }
    &-item {
      list-style-type: "-";
      margin-bottom: 5px;
      padding-left: 10px;
    }
  }
  &__cta {
    display: flex;
    flex-direction: column;
    gap: 15px;
    @media (min-width: 460px) {
      flex-direction: row;
    }
    @media (min-width: 576px) {
      gap: 30px;
    }
    &-order,
    &-more {
      font-size: 13px;
      line-height: 16px;
      text-transform: uppercase;
      text-align: center;
      padding: 12px 30px;
      border-radius: 4px;
      transition: all .3;
      width: 100%;
      @media (min-width: 576px) {
        padding: 15px 60px;
        width: auto;
      }
    }
    &-order {
      color: #fff;
      background-color: #3E9CDC;
      border: 1px solid #fff;
      &:hover {
        background-color: #378dc6;
      }
    }
    &-more {
      color: #2A2B30;
      background-color: #fff;
      border: 1px solid #6F6D7B;
      &:hover {
        background-color: #f1f1f1;
      }
    }
  }
}

.footer {
  background-color: #3D4050;
  padding: 30px 0;
  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
    @media (min-width: 460px) {
      flex-direction: row;
      flex-wrap: wrap;
    }
    @media (min-width: 1200px) {
      gap: 80px;
      justify-content: center;
    }
  }
  &__item {
    position: relative;
    &::after {
      content: '';
      background-color: #C3C3C3;
      height: 1px;
      width: 40px;
      position: absolute;
      bottom: -16px;
      left: 50%;
      transform: translateX(-50%);
      @media (min-width: 460px) {
        height: 100%;
        width: 1px;
        left: auto;
        right: -31px;
        bottom: auto;
        top: 50%;
        transform: translateY(-50%);
      }
      @media (min-width: 900px) {
        top: 37%;
        height: 18px;
        right: -30px;
      }
      @media (min-width: 1200px) {
        top: 50%;
        right: -40px;
      }
    }
    &:first-child {
      order: 3;
      @media (min-width: 460px) {
        flex: 0 0 100%;
      }

      @media (min-width: 1200px) {
        flex: 0 0 auto;
        order: 1;
      }
    }
    &:first-child::after{
      display: none;
      @media (min-width: 900px) {
        display: block;
      }
    }

    &:last-child {
      @media (min-width: 460px) {
        margin-left: 30px;
      }
      @media (min-width: 1200px) {
        margin-left: 0;
      }
    }
    &:last-child::after {
      @media (min-width: 460px) {
        display: none;
      }
    }
  }
}

.copy {
  font-size: 13px;
  line-height: 16px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  @media (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
    order: 2;
  }
  @media (min-width: 990px) {
    gap: 20px;
  }
  @media (min-width: 1200px) {
    gap: 38px;
  }
  &__item {
    display: flex;
    align-items: center;
    height: 20px;
    padding-left: 30px;
    position: relative;
    color: #C3C3C3;
    font-size: 13px;
    line-height: 16px;
    &::before {
      content: '';
      width: 20px;
      height: 20px;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  &__link {
    color: inherit;
    transition: all .3;
    &:hover {
      color: #dedede;
    }
  }

  .list__item--qiwi::before {
    background-image: url('../images/qiwi-icon.svg');
  }
  .list__item--ymoney::before {
    background-image: url('../images/ymoney-icon.svg');
  }
  .list__item--wmoney::before {
    background-image: url('../images/webmoney-icon.svg');
  }
  .list__item--email::before {
    background-image: url('../images/email-icon.svg');
  }
  .list__item--vk::before {
    background-image: url('../images/vk-icon.svg');
  }
}
